<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>a26</string>
				<string>bin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cartridge.png</string>
			<key>CFBundleTypeName</key>
			<string>Atari 2600 Cartridge</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rom</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>chip.png</string>
			<key>CFBundleTypeName</key>
			<string>ROM Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>uef</string>
				<string>uef.gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>Electron/BBC UEF Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>prg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy525.png</string>
			<key>CFBundleTypeName</key>
			<string>Commodore Program</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>g64</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy525.png</string>
			<key>CFBundleTypeName</key>
			<string>Commodore Disk</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d64</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy525.png</string>
			<key>CFBundleTypeName</key>
			<string>Commodore 1540/1 Disk</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ssd</string>
				<string>dsd</string>
				<string>adf</string>
				<string>adl</string>
				<string>adm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35.png</string>
			<key>CFBundleTypeName</key>
			<string>Electron/BBC Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35.png</string>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>o</string>
				<string>80</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>ZX80 Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p</string>
				<string>81</string>
				<string>p81</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>ZX81 Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tzx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>Amstrad CPC Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hfe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35.png</string>
			<key>CFBundleTypeName</key>
			<string>HxC Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cas</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>MSX Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dmk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35.png</string>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>msa</string>
				<string>st</string>
				<string>stx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35.png</string>
			<key>CFBundleTypeName</key>
			<string>Atari ST Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tsx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cassette.png</string>
			<key>CFBundleTypeName</key>
			<string>MSX Tape Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>col</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cartridge.png</string>
			<key>CFBundleTypeName</key>
			<string>ColecoVision Cartridge</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sms</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cartridge.png</string>
			<key>CFBundleTypeName</key>
			<string>Master System Cartridge</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cartridge.png</string>
			<key>CFBundleTypeName</key>
			<string>SG1000 Cartridge</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nib</string>
				<string>woz</string>
				<string>do</string>
				<string>po</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy525.png</string>
			<key>CFBundleTypeName</key>
			<string>Apple II Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>img</string>
				<string>hfv</string>
				<string>image</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-apple-diskimage</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DiskCopy 4.2 Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>2mg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35.png</string>
			<key>CFBundleTypeName</key>
			<string>Apple 2MG Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Electron/BBC Hard Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sna</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum SNA snapshot</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z80</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Z80 snapshot</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>szx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum SZX snapshot</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ipf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Software Preservation Society Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hdv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>floppy35</string>
			<key>CFBundleTypeName</key>
			<string>Apple II Hard Disk Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MachineDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>22.09.16</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>22.09.16</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015–2022 Thomas Harte.
All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CSApplication</string>
</dict>
</plist>
