name: C/C++ CI

on:
  push:
    branches: 
      - master

  pull_request:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install dependencies
      run: apt-get install libsdl2-dev scons
    - name: make
      run: cd OSBindings/SDL; scons
